 .nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.luffy{
    margin-left: 483px;
    
}
.div1{
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 20px 200px;
    margin-left: 414px;
} 
a{
    border: none;
    padding: 2px;
    margin-left: 15px;
    color: black;
    text-decoration: none;
}
#section{
display: flex;
margin-top: 20%;
}
#section{
    display: flex;
}
.div2{
    display: flex;
    padding: 12px;
    border-radius: 5px;

}
.divsect2{
    display: flex;
    gap: 50px;

}
body{
    background-color: rgb(238, 231, 221);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
.img2 img{
margin-top: 20px;
border-radius: 0%;
height: 410px;
margin-left: 800px;
margin-top: -50px;
width: 525px;

}
.machine{
    border-radius: 10px;
    border: 1px solid rgb(239, 28, 28);
    width: 300px;
    height: 300px;
    padding: 10px;
}
.analysis{
    border-radius: 10px;
    border: 1px solid rgb(239, 28, 28);
    width: 300px;
    height: 300px;
    padding: 10px;
}
.robotic{
    border-radius: 10px;
    border: 1px solid rgb(239, 28, 28);
    width: 300px;
    height: 300px;
    padding: 10px;
}
.h1{
    text-align: center;
}
.a{
    text-decoration: none;
    color: rgb(211, 52, 52);
    padding-top: 20px;
}
.a1{
    text-decoration: none;
    color: rgb(211, 52, 52);
    padding-top: 20px;
}
.a2{
    text-decoration: none;
    color: rgb(211, 52, 52);
    padding-top: 20px;
}
.a3{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    background-color: red;
    border-radius: 10px;
    border: solid;
    width: 100px;
    height:20px ;
    margin-top: 2%;
}
.div2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.a4{
    text-decoration: none;
    color: rgb(238, 33, 33);
    padding: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: solid;
    width: 100px;
    height:20px ;
    margin-top: 2%;
    border-color: red;
}
.h1{
    text-align: center;
}
.div3{
    display: flex;
    gap: 50px;
    align-items: center;
}
.h1{
    text-align: center;
}
.div4{
    display: flex;
    gap: 100px;
    align-items: center;
} 
.div20{
    padding: 15px 25px;
    background-color: rgb(255, 0, 0);
    border:none; 
    border-radius: 8px;
}

.div21{
   padding: 15px 25px;
   border-radius: 8px; 
   background-color: rgb(255, 255, 255); 
   border: 1ps solid red;
  
}
